.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #059855;
  font-size: 32px;
  margin-right: auto;
}


.subtitleDashboard {
  font-size: 18px;
  font-weight: 500;
  color: #f9f9f9;
  text-align: center;
  padding: 10px 0;
  background-color: #059855;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  width: 100%;
}  
 
.searchInputs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.searchContainer {
  padding: 10px 12px;
  border-radius: 999999px;
  margin: 0 3px;
  border: 2px solid #059855;
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 10px;
}

.searchContainer:focus-within {
  border: 2px solid #1c7a50; 
} 
.searchContainer input {   
  transition: border-color 0.3s ease-in-out;
  font-family: 'Open Sans';
  outline: none; 
  border: none;
}

.searchContainer input:focus {
  outline: none; 

} 
.searchContainer input[type='text'] {
  padding: 0;
  margin: 0;
}
 
.addButton {
  background-color: #059855;
  color: white;
  border: none;
  border-radius: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 18px;
  padding: 20px 10px;
  width: 180px;
  height: 45px;
  font-family: 'Open Sans';
}

.addButton span {
  margin: 5px;
  font-size: 16px;
  font-family: 'Open Sans';
}

/*for notification*/
.selectWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px; /* Adjust width as needed */
  border: 1px solid #d9d9d9; /* Add border for better visibility */
  border-radius: 4px;
  padding-right: 24px; /* Add space for the arrow */
}

.selectWrapper::after {
  content: "▼"; /* Unicode arrow or use a custom icon */
  position: absolute;
  right: 10px;
  font-size: 12px;
  color: #1c7a50; /* Green color for the arrow */
  pointer-events: none; /* Prevents arrow from blocking clicks */
}